.card {
  height: 575px;
  width: 392px;

  border-radius: 12px;
  box-shadow: 0px 8px 24px 0px #0000001f;
  background-color: #fff;

  display: flex;
  flex-direction: column;
}

.card-header {
  height: 35px;
  padding: 12px 12px 0 12px;

  display: flex;
  justify-content: space-between;
}

.question-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.question-number {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.question {
  height: 490px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  text-align: center;
}

.turn {
  height: 50px;

  display: flex;
  justify-content: flex-end;

  padding: 0 12px 12px 0;

  cursor: pointer;
}

.card img {
  height: 35px;
  width: 39px;
}

.answer {
  height: 494px;

  padding: 0 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.deck {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons {
  height: 66px;

  display: flex;
  justify-content: space-evenly;
}

.buttons button {
  height: 48px;
  width: 62px;

  border-radius: 12px;

  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;

  cursor: pointer;
}

.neutral {
  border: 3px solid #000000;
}

.border-neutral {
  outline: 5px solid #000000;
  box-shadow: 0px 8px 24px 0px #0000001f;
}

.incorrect {
  border: 3px solid #f64848;
}

.border-incorrect {
  outline: 5px solid #f64848;
  box-shadow: 0px 8px 24px 0px #f648481f;
}

.correct-effort {
  border: 3px solid #62db38;
}

.border-correct-effort {
  outline: 5px solid #62db38;
  box-shadow: 0px 8px 24px 0px #62db381f;
}

.correct {
  border: 3px solid #ffef61;
}

.border-correct {
  outline: 5px solid #ffef61;
  box-shadow: 0px 8px 24px 0px #ffef611f;
}
